<div style="margin: 20px; text-align: center">
<h1>Menu</h1>

<%if can? :create, Menu %>
  <%= link_to 'create new menu', new_menu_path, class: "btn btn-success btn-lg" %>

<%end %>
<h1>Today's Lunch </h1>
  <%= render 'menulist', menulist: @today_lunch_menu%>

<h1>Today's Snack </h1>
  <%= render 'menulist', menulist: @today_snack_menu%>

<%if current_user.admin? or current_user.sup_admin? %>
<h1>All Menu</h1>
  <%= render 'menulist', menulist: @menus%>
    <%end %>
</div>